html, body {
  // overflow-x: hidden;  used a lot but works fine without it for now
  // max-width: 100vw;
}

.banner {
  height: 100vh;
  background-color: $black;
  color: white;
  overflow: hidden;
  width: 100vw;
  max-height: 800px;
  position: relative;

  .banner__title {
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;

    @include small {
      padding-top: 4%;
      padding-bottom: 1%;
    }
  }
  .banner__decoration {
    position: absolute;
  }

  .banner__decoration--blackIntensoOriginal {

    @include small {
      display: none;
    }
  }

  .banner__decoration--blackIntensoVertuo {
  
    @include small {
      display: none;
    }
  }

  .banner__decoration--TopLeft {
    left: -120px;
    top: -100px;
    animation: christmastreeLeftTop 8s infinite;
    animation-delay: 2.1s;

    @include small {
      left: -90px;
      top: -10px;
    }
  }

  .banner__decoration--TopRight {
    right: -70px;
    top: -50px;
    animation: christmastreeRightTop 8s infinite;
    animation-delay: 2.5s;

    @include small {
      top: 50px;
    }
  }

  .banner__decoration--bottomRight {
    right: -80px;
    bottom: 50px;
    animation: christmastreeRightBottom 8s infinite;
    animation-delay: 2.5s;
  

    @include small {
      display: none;
    }
  }

  .banner__decoration--bottomLeft {
    left: -120px;
    bottom: 50px;
    animation: christmastreeLeftBottom 7.9s infinite;
    animation-delay: 2s;

    @include small {
      display: none;
    }
  }
  
  .banner__subtitle {
    color: $gold;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }

  .banner__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
    position: relative;
    z-index: 3;

    @include small {
      flex-direction: row;
      justify-content: space-between;
      height: 70%;
    }
  }

  .banner__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    @include small {
      width: 100%;

      &.banner__image--original {
        transform: translateX(-30%);
      }
  
      &.banner__image--vertuo {
        transform: translateX(15%);
      }
    }
    
  }

  .banner__middleImage {
    display: none;

    @include small {
      display: block;
      max-height: 200px;
      padding-right: 9vw;
      cursor: pointer;
      
    }
  }


  @include small {
    padding-top: 6.25rem;
    overflow: hidden;
  }

  .button {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 280px;
    padding: 30px 0px;
    align-items: center;
    z-index: 3;

    a:active {
      border: 1px $gold solid ;
      background: $black;
      color: $gold;
    }

    @include small {
      position: absolute;
      left: 50%;
      width: 92px;
      padding: 0;
      transform: translateX(-50%);
      top: 85%;
    }
  }
}


#homebutton {
  animation: 4s shake 3s infinite;
}

// CAGE SLIDER

// .delete {
//   height: 100vh;
//   width: 100vw;
// }
// .slider {
//   overflow: hidden;
//   background: green;
//   width: 500px;
//   position: relative;
// }

// .slider__slides {
//   display: flex;
//   width: 500px;
//   transition: transform 0.3s ease;
// }

// .slider__slide {
//   width: 500px;
//   height: 300px;
//   object-fit: cover; // pour que l'image ne soit pas déformée
// }

// .slider__arrow {
//   width: 35px;
//   height: 35px;
//   background-color: gold;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .slider__arrow--right {
//   right: 0;
// }