.burgerMenu__bars {
  width: 30px;
  height: 3px;
  background-color: $gold;
  transition: background-color 0.3s;
  margin: auto;
  margin-top: 23px;


  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: $gold;
    transform: translateY(-12px);
    transition: transform 0.3s;
  }

  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: $gold;
    transform: translateY(+9px);
    transition: transform 0.3s;
  }
}