.header { // si bug, à cause des images sapin qui dépassent
  background-color: $black;
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  transition: height 0.3s ease-in;

  .header__burgerButton {
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0px;

    @include small {
      display: none;
    }
  }

  
  &.is-open {
      .burgerButton__bars {
        background-color: transparent;
  
        &::before {
          transform: translateX(-7px) translateY(-2px) rotate(45deg);
        }
  
        &::after {
          transform: translateX(12px) translateY(-5px) rotate(-45deg);
        }
      }
    }

  .header__logo {
    height: 15vh;
    padding-top: 50px;
    display: none;

    @include small {
      display: block;
      margin: auto;
      position: absolute;
      // left: 50%; // image starts in the middle of the page
      // transform: translateX(-50%); // half the image go left --> centered
      padding-top: 0;
      height: auto;
    }
  }

  .header__navigation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    @include small{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 600px;
      justify-content: space-between;
      margin-top: 42px;
      height: 30px;
    }
  }

  .header__navigationOthers {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    padding-bottom: 10vh;
    width: 100vw;

    @include small {
      display: flex;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 250px;
      padding: 0px;
      height: 30px;
    }
  }

  &.is-open {
    height: 100vh;

    .header__logo { 
      display: block;
      width: 157px;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .header__navigation {
      display: flex;
    }

    .header__navigationOthers {
      display: flex;
    }

    @include small {
      height: 100px;
    }
  }

  @include small {
  display: flex;
  flex-direction: row;
  height: 100px;
  position: fixed;
  top: 0px;
  border-bottom: white 1px solid;
  justify-content: center;
  padding: 20px;
  }
}

