.machines {
  height: 100vh;
  position: relative;


  .product-category {
    color: $gold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .sliderMachines {
    background-color: powderblue;
    height: 200px;
    width: 360px;
    overflow: hidden;

    .slides {
      display: flex;
    }

  }

  .slider__arrows {
    display: flex;
    width: 280px;
    height: 30px;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    align-items: center;
    justify-content: space-between;
    position: absolute;
   
    .slider__arrow--left {
      width: 30px;
      height:30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(-45deg)   ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(45deg) ;
      }

    }

    .slider__arrow--right {
      width: 30px;
      height:30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(45deg) ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(-45deg) ;
      }

    }


  }

  .slider-description {
    display: flex;
    margin-left: 55px;
    margin-right: 55px;

    .machineName {
      text-transform: uppercase;
      text-align: center;
      margin-top: 8px;
    }

    .machine-description {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    .price {
      text-align: center;
    }

    .button a{
      margin-top: 0;
    }
  }
  
}