@import '../config/colors.scss';

.nespressoVertuo {
  height: 100vh;
  position: relative;

  .product-category {
    color: $gold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .slider__arrows {
    display: flex;
    width: 280px;
    height: 30px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%) translateY(-220px);
    align-items: center;
    justify-content: space-between;
    position: absolute;
   
    .slider__arrow--left {
      width: 30px;
      height:30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(-45deg)   ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(45deg) ;
      }

    }

    .slider__arrow--right {
      width: 30px;
      height:30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(45deg) ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(-45deg) ;
      }

    }
  }

  .slider {
    width: 115px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 20px;
    

   .slider__slides {
     display: flex;

     .slide {
       text-align: center;


      .productName {
        margin-left: 0;
        margin-right: 0;
        color: $gold;
        text-transform: uppercase;
        font-size: 14px;
        color: grey;
        margin-bottom: 10px;
       }
      
      }
      
    }
  }

}

