@import '../config/colors.scss';

.seasonalProducts {
  height: 100vh;
  background-image: url('../images/mobile/christmas-decorations/stars-background.png');
  opacity: 1;
  background-repeat: no-repeat;
  object-fit: cover;
  background-attachment: fixed;
  position: relative;

  @media (min-width: 700px) {
    background-image: url('../images/desktop/christmas-decorations/stars-background-large.png');
    max-height: 100vh;
  }
  

  .decoration--right{
    position: absolute;
    right: 0;
    top: 0;
  }

  .decoration--left {
    position: absolute;
    left: 0;
    bottom: 80px;
  }

  .slider {
    margin-top: 50px;
    width: 236px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include small {
      width: 500px;
    }

    .slider__slides--images {
      display: flex;
      width: 236px;
      height: 125px;
      justify-content: space-between;

      @include small {
        width: 500px;
      }

      li {
        width: 79px;

        @include small {
          width: 137px;
        }
      }
      
      li:nth-child(1) img, li:nth-child(3) img  {
        opacity: 0.5;
        height: 50%;
        margin-top: 63px;

        @include small {
          height: 80%;
          margin-top: 29px;
        }
      } 
    }

    li:nth-child(2) img {
      position: absolute;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;
    }
  }


  .slider__arrows {
    display: flex;
    width: 280px;
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
   
    .slider__arrow--left {
      width: 30px;
      height:30px;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(-45deg)   ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(45deg) ;
      }

    }

    .slider__arrow--right {
      
      width: 30px;
      height:30px;


      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform: translateY(8px) translateX(5px) rotate(45deg) ;
      }

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: $gold;
        transform:  translateY(17px) translateX(5px) rotate(-45deg);
      }
      // &:hover::after {
      //     transform: scale(1.5) translateY(0px) translateX(5px) rotate(45deg) ;
      //   }

      // &:hover::before {
      //   transform: scale(1.5) translateY(14px) translateX(5px) rotate(-45deg) ;
      // }
      
    }
  }

  .slider__description {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-30px);
    overflow: hidden;


    .slider__slides {
      display: flex;
      font-family: helvetica;

      li .capsTitle {
        text-transform: uppercase;
        text-align: center;
        margin-top: 8px;
      }

      li .description {
        text-align: center;
        width: 250px;
        margin-top: 20px;
        margin-bottom: 25px;
      }

      .price {
        text-align: center;
      }

    }
  }

  .cofeeBeans {
    position: absolute;
    bottom: 28px;
    right: 10px;


    @include small {
      bottom: 80px;
      right: 20px;
    }
  }


}

