// Helvetica Neue
// woff2 format not found yet

@font-face {
  font-family: 'HelveticaNeue';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/HelveticaNeueItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/HelveticaNeueUltraLight.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/HelveticaNeueUltraLightItal.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: lighter;
  src: url('../fonts/HelveticaNeueLight.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: italic;
  font-weight: lighter;
  src: url('../fonts/HelveticaNeueLightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/HelveticaNeueBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bolder;
  src: url('../fonts/HelveticaNeueCondensedBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/HelveticaNeueBoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/HelveticaNeueCondensedBlack.woff') format('woff');
  }


